#main_container {
    background-color: #F4F4F4;
}

.title_header {
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.anchor_social_lists {
    text-decoration: none;
}

.carousel_home_images {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about_me_section {
    display: inline-block;
    padding: 20dp;
}

.about_me_image {
    width: 120px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.carousel_label1,
.carousel_title {
    color: black;
}


/* override bootstrap existing class color */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%);
}