#main_container {
    background-color: #F4F4F4;
}

.title_header {
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.anchor_social_lists {
    text-decoration: none;
}